.cheatsheet {
    background-color: #e8e8e8;
    padding: 8px 12px;
  }

.post-header {
  &, h1 {
    margin-bottom: 0;
  }
}

.spoiler {
  background-color:#000000;
  color:#000000;
}

#pagination {
  width: 100%;
  display: flex;

  a {
    flex: 50%;

    &#left {

    }

    &#right {
      text-align: right;
    }
  }
}
