.cheatsheet {
    background-color: #e8e8e8;
    padding: 8px 12px;
  }

.glossary {
    background-color: #f3f0f0;
    padding: 8px 12px;
}


.post-header {
  &, h1 {
    margin-bottom: 0;
  }
}

.glossary-term {
  position: relative;
  cursor: pointer;
  border-bottom: 1px dotted #000;
}

.glossary-term::after {
  content: attr(data-definition);
  position: absolute;
  left: 0;
  bottom: 100%;
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
  white-space: normal;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.glossary-term:hover::after {
  animation: showTooltip 0s linear 0.25s forwards;
}

@keyframes showTooltip {
  to {
    opacity: 1;
  }
}


#pagination {
  width: 100%;
  display: flex;

  a {
    flex: 50%;

    &#left {

    }

    &#right {
      text-align: right;
    }
  }
}

// https://www.w3schools.com/howto/howto_css_switch.asp
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Adjusted size */
  height: 20px; /* Adjusted size */
  margin: 0 auto; /* Center horizontally */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px; /* Adjusted size for rounded slider */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Adjusted size */
  width: 14px; /* Adjusted size */
  left: 3px; /* Adjusted position */
  bottom: 3px; /* Adjusted position */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Adjusted size */
  -ms-transform: translateX(20px); /* Adjusted size */
  transform: translateX(20px); /* Adjusted size */
}

.solutions {
  display: none;
}

.site-nav .trigger {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust this as needed */
  width: 100%; /* Or any specific width you need */
  padding: 10px; /* Add some padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}