.cheatsheet, .glossary {
  background-color: #f3f0f0;
  padding: 8px 12px;
}

@media (prefers-color-scheme: dark) {
  .cheatsheet, .glossary {
    background-color: #333;
  }
}

.post-header {
  &, h1 {
    margin-bottom: 0;
  }
}

.glossary-term {
  position: relative;
  cursor: pointer;
  border-bottom: 1px dotted #000;

  &:hover .glossary-popup {
    visibility: visible;
    opacity: 1;
  }
}

.glossary-popup {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 200px;
  margin-left: -120px;

  padding: 10px;
  background: var(--minima-background-color);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
  white-space: normal;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  /* Force it to be the default font */
  font: 400 16px / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
  .glossary-popup {
    border-color: #444;
  }
}


#pagination {
  width: 100%;
  display: flex;

  a {
    flex: 50%;

    &#right {
      text-align: right;
    }
  }
}

.site-header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: none;
  }
}

#toggle-div {
  align-items: center;
}

// https://www.w3schools.com/howto/howto_css_switch.asp
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Adjusted size */
  height: 20px; /* Adjusted size */
  margin: 0 auto; /* Center horizontally */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px; /* Adjusted size for rounded slider */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Adjusted size */
  width: 14px; /* Adjusted size */
  left: 3px; /* Adjusted position */
  bottom: 3px; /* Adjusted position */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Adjusted size */
  -ms-transform: translateX(20px); /* Adjusted size */
  transform: translateX(20px); /* Adjusted size */
}

.solutions {
  display: none;
}

.site-nav {
  // Prevent .glossary-term from floating on top of it
  z-index: 1;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust this as needed */
  width: 100%; /* Or any specific width you need */
  padding: 10px; /* Add some padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

#nav-items {
  display: flex;
  gap: 1em;
}

.solutions-toggle {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.spoiler, .spoiler * {
  color: #333;
  border: none;
}

.spoiler {
  color: white;
  padding: 3px 5px;
  background-color: #333;
  border-radius: 2px;
  cursor: pointer;
}

.spoiler * {
  background: none;
}

.spoiler[data-revealed], .spoiler[data-revealed] * {
  color: inherit;
  transition: background-color 0.5s, border-color 0.5s;
  background-color: #ccc;
}

.spoiler[data-revealed] code {
  background-color: #aaa;
  border: 1px solid #999;
}

@media (prefers-color-scheme: dark) {
  .spoiler, .spoiler * {
    color: #333;
  }

  .spoiler {
    color: white;
    background-color: #333;
  }

  .spoiler[data-revealed], .spoiler[data-revealed] * {
    background-color: #333;
  }

  .spoiler[data-revealed] code {
    background-color: #222;
    border-color: #111;
  }
}
